@charset "UFT-8";

*{
    margin: 0;
}

body{
    
    background-image: url(imagens/fundo.png);
    font: 16px Arial, Helvetica, sans-serif;
}

main{
    width: 900px;
    background-color:#fafaf5;

}
nav{
    background:#c5c5b2;
	padding: 18px;
    display: flex;
    justify-content: left;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.308);
   

}
nav > a {
    color: #4b566a;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition-duration: 1s;
}

nav > a:hover{
    background-color:#ffffff;
    color:  rgb(25, 24, 26);
    border-radius: 5px;
    padding: 10px;
}

h1{
    margin: 25px;
    color: #828271;
	font-size: 1.5em;
}

p{
    margin: 20px;
    
}
.last{
    padding-bottom: 20px;
}
footer {
	text-align: left;
    font-size: 0.8em;
    font-weight: bold;
}
.img-campanha{
    display: block;
    margin: auto;
    border: 10px solid #c3c3ae;
}